@charset "UTF-8";
/* CSS Document */
/* my color combinations */
/*#BF2431 , #730217 , #A6937C , #73462C , #260101 */
/* The body tag style applies to all elements on the page */
body {
/*background-color: rgb(0,0,0,);*/
background: yellow;
/*mox, webkit, and o-linear are all different browsers so mox is firefox, webkit is chrome and o-linear is opera*/
background: -moz-linear-gradient(left, red 0%, yellow 100%);
background: -webkit-linear-gradient(left, red 0%, yellow 100%);
background: -o-linear-gradient(left, red 0%, yellow 100%);
background: linear-gradient(to right, red 0%,yellow 100%);
font-family: "Roboto", sans-serif;
padding:0px;
margin:0px;
}
/* The wrapper ID style is used with a div tag to provide a 960px wide page, percentage is fluid design to make responsive design */
#wrapper {
width: 66%;
height: 800px;
margin-left: auto;
margin-right: auto;
background-color:LightSlateGrey ;
}
/* The right-column ID style is floated right */
#right-column {
float: right;
width: 66%;
height: 600px;
background-color:LightGray;
}
/* The left-column ID style is floated left */
/*66% is 100% size of the wrapper, 33% to the left column and 66% to the right*/
#left-column {
float: left;
width: 33%;
background-color:silver;
height:600px;
}
/* Defining a style for a set of tags separated by commas applies the style to
all tags */
h1,h2,h3,h4,h5,h6,p,li {
margin-left:15px;
}
#footer {
height:80px;
}
#banner{
height:120px;
background-color:SlateGrey;
}
/* Defining a style for a set of tags not separated by commas applies the style
only to all tags within the preceding tag*/
#banner h1 {
color: rgb(0, 0, 0);
}
/* Advanced Web design relies on class or ID styles, never tables */
/* we use .box because in html we used class */
.box {
height: 100px;
width: 13%;
float: left;
background-color:tan;
margin: 15px;
padding: 25px;
opacity:.5;
}
/* The following pseudo-class applies to the box class when in a hovered state */
.box:hover {
background: radial-gradient(ellipse at center,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 79%);
background-color:white;
opacity:1;
}
.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* This clear class style terminates float */
.clear{
clear: both;
}
button {
background-color:black;
color:white;
height:40px;
border:2px white solid;
/*offset-x: 10px on the right, negative value mean left*/
/*offset-x: 10px on the down negative value mean up*/
box-shadow: 10px 10px 5px black;
/* rounded corners */
/* for one arguments all corners should be 5px */
/* argument sequence will be 
top-left, top-right, bottom-right, bottom-left*/
border-radius: 5px;
}

button:hover 
{
background-color:beige;
color:black;
height:40px;
border:2px white solid;
box-shadow: -10px -10px 5px black;
border-radius: 5px;
}














/*new website*/
header,footer 
{
  background-color: white;
  color: red;
  padding-bottom: 5px;
  padding-top: 5px;
}

aside{
  background-color: blue;
  float: right;
}

mark
{
  background-color: rgb(141, 222, 0);
}

figure
{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}

figcaption
{
  position: bottom;
  background-color: black;
  color: white;
}

article
{
  height: 420px;
}